.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0rem;
  background-color: #4da6ff;
  color: #fff;
  font-family: "Poppins", sans-serif;
  top: 0;
  width: 99%;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition:
    transform 0.2s ease,
    text-shadow 0.2s ease;
}

.nav-links a:hover {
  transform: scale(1.05);
  text-shadow: 0 0 5px rgba(255, 196, 0, 0.6);
}

.menu-toggle {
  display: none;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
  .menu-toggle {
    display: block;
  }
}
