/*Styling for navbar component*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .1rem 1.5rem;
  background-color: #333;
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: box-shadow 0.3s ease;
}
.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
.nav-links a:hover {
  text-decoration: underline;
  width: 100%;
}

.navbar.scrolled {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*Styling for mobile menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.menu-toggle span {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
  transition: all 0.3s ease;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
}
