.skills-section {
  padding: 5rem 2rem;
  background: #fafafa;
  text-align: center;
  color: #1e293b;
}

.skills-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.skills-description {
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
  color: #475569;
}

/*GRID LAYOUT*/
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

/*CARD(s)*/
.skill-card {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.skill-card h3 {
  margin-bottom: 1rem;
  text-transform: capitalize;
}

/*TAG(s)*/

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
.skill-tag {
  background: linear-gradient(135deg, #4f7df9, #6d5dfc);
  color: white;
  padding: 0.4rem, 0.8rem;
  border-radius: 20px;
  font-size: 0.85rem;
  transition: 0.2s ease;
}

.skill-tag:hover {
  transform: translateY(-2px);
}
