.skills-section {
  padding: 6rem 2rem;
  background-color: #f5f7fa;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.skills-title {
  font-size: 2.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #000000;
}

.skills-description {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  color: #555;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skills-list span {
  background: linear-gradient(90deg, #b88d0a, #20551e);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.skills-list span:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(77, 166, 255, 0.3);
}
